body {
  background: linear-gradient(45deg, #2b5876, #4e4376);
  margin: 0;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inner {
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  background: #fff;
  width: 60%;
  margin: auto;
  /* padding: 20px; */
  
}

input {
  font-family: 'Comfortaa', cursive;
  padding: 8px;
  margin: 5px;
  width: 300px;
}

button {
  padding: 8px;
  margin: 5px;
}

.gif-container {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
  width: 60%;
  margin: auto;
  /* padding: 20px; */
}
